.homepage{
    background-image:url("https://pixnio.com/free-images/2017/05/31/2017-05-31-23-37-13.jpg");
    width: 110vw;
    height: 110vh;
    margin: 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    
}


















